@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

body {
  background-color: #fefefe;
  font-family: var(--font-sans);
}

main {
  height: calc(100vh - 132px);
}

th {
  font-weight: 600;
}

button {
  cursor: pointer;
  transition: all 0.3s ease-in-out !important;
}

@keyframes fadeIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.animatefadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.active-tab {
  @apply px-6 py-1 rounded-md text-[#3e3e3e] font-semibold border-none outline-none bg-white drop-shadow-sm;
}

@layer base {
  label {
    @apply text-sm font-semibold text-[#181717] font-sans;
  }
  select {
    @apply w-full border border-gray-300 text-[#686868A6] rounded-md px-3 py-2 text-sm focus:outline-none appearance-none cursor-pointer;
  }
}

.btn_gradient {
  @apply bg-linear-to-r from-[#6DA5FF] to-[#F576D6] rounded text-white;
}

.btn_gradient:hover {
  @apply bg-linear-to-r from-[#8bb7fd] to-[#f794de] hover:transition-all hover:duration-500;
}

.btn_white {
  @apply bg-[#FFFFFF] border rounded border-[#CCCCCC];
}

.hide_scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animateFadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50px);
  }
}

.animatefadeInLeft {
  animation: fadeInLeft 0.3s ease-in-out;
}

.animatefadeOutLeft {
  animation: animateFadeOutLeft 0.9s ease-in-out;
}
