@import "tailwindcss";

body {
  background-color: #fefefe;
}

button {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.animatefadeIn {
  animation: fadeIn 0.3s ease-in-out;
}
